

<p>
  <mat-toolbar>
  <span>
    <img class="logo" src = "../../assets/images.jfif">
  </span>
  <span class="example-spacer"></span>
  <div class="example-form">
    <form>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Ex. Pizza">
      </mat-form-field>
      </form>
    <mat-icon><i class="fa fa-search" aria-hidden="true"></i></mat-icon>
  </div>
  <div class="StaticText">
    <span>Production>Dying>Reciepe>Dying</span>
  </div>
</mat-toolbar>
</p>


