<nav class="navbar bg-light">


  <!-- Links -->
  <ul class="navbar-nav">
    <div>
      <span>
        <mat-icon style="size: 20px;">account_circle</mat-icon>
        <b class="name">Farhan Mirza</b>
      </span>
    </div>
    <hr>
    <li class="nav-item">
      <div>
          <mat-icon>notification_important</mat-icon>
          <span style="color:blue; font-size:15px">Notification</span>
      </div>
      <ul>
        <li>
          <div>
            <mat-icon>home</mat-icon>
            <span style="color:blue; font-size:10px">Mira Internation had added an new Carrer</span>
        </div>
        </li>
        <li>
          <div>
            <mat-icon>home</mat-icon>
            <span style="color:blue; font-size:10px">Mira Internation had added an new Carrer</span>
        </div>
        </li>
        <li>
          <div>
            <mat-icon>home</mat-icon>
            <span style="color:blue; font-size:10px">Mira Internation had added an new Carrer</span>
        </div>
        </li>

      </ul>
    </li>
    <hr>

    <li>
      <div>
        <mat-icon>home</mat-icon>
        <span style="color:black; font-size:20px">Home</span>
    </div>
    </li>
    <li class="Production">
      <div>
        <mat-icon>perm_data_setting</mat-icon>
        <span style="color:black; font-size:20px">Production</span>
    </div>
    <ul type="none">
      <li class="nav-item">Dying</li>
      <li class="nav-item">Finishing</li>
      <li class="nav-item">Crusting</li>
      <li class="nav-item">
        <div>
          <mat-icon>bug_report</mat-icon>
          <span style="color:black; font-size:20px">Report</span>
      </div>
      </li>
      <li class="nav-item">
        <div>
          <mat-icon>bug_report</mat-icon>
          <span style="color:black; font-size:20px">Planning</span>
      </div>
      </li>
      <li class="nav-item">
        <div>
          <mat-icon>bug_report</mat-icon>
          <span style="color:black; font-size:20px">Planning</span>
      </div>
      </li>
    </ul>
    </li>
    <li class="nav-item" (click)="logout()">
      <div>
        <button style="color:black; font-size:20px">Logout</button>
    </div>
    </li>
</ul>

</nav>
